
/**
* Header
**/
.site-header {
  background: #444;
  color: #eee;
  margin: 0;
}

.site-header a{
  background: #444;
  color: #eee;
  text-decoration: none;
  margin: auto 0;
  padding: 0;
}
.site-header li a{
  margin-right: 1em;
}
.site-title,
.site-description{
  margin: auto 0;
  padding: 0;
}
.site-branding {
  margin: 0 1em;
}
.main-navigation {
  margin: 1em;
}

/**
* Main
**/
.site-main{
  border: 1px dotted indianred;
  margin: 1em;
}

/**
* Footer
**/
.site-footer{
  border: 1px dotted indianred;
  margin: 1em;
}
.site-info{
  border: 1px dotted indianred;
  margin: 1em;
}
